@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --mainColor: #1C3263;
    --secondColor: #EFE8E2;
    --thirdColor: #B5C5E9;
    --fourthColor: #2B2B2B;
    --borderRadius: 0.4rem;
    --marginLeft: 3em;
    --marginRight: 9em;
}
body{
    margin: 0;
}
h1, h2, h3, P, a{
    font-family: 'Montserrat', sans-serif;
    color: var(--fourthColor);
}
 h2{
    font-weight: 700;
    font-size: 3em;
 }

.homePage{
    background-color: var(--secondColor);
    margin:0;
    height: 50em;
}
 .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--mainColor);
    border-radius:  var(--borderRadius);
    height: 2.5rem;
}
a.btn{
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.1);
    opacity: 0.7;
}
/*HEADER*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .nav{
    display: flex;
    gap: 3em;
}
header h1{
    margin-left: var(--marginLeft);
}
header a{
    text-decoration: none;
    color: var(--fourthColor);
}
header a:hover{
    transform: scale(1.1);
    opacity: 0.7;
}



/*HomePage*/

.contenair{
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    margin-left: var(--marginLeft);
}
.homePage__btn{
    width: 9em;
    margin-right: var(--marginRight);
}
.contenair__texte{
    margin-left: var(--marginLeft);
}
.contenair__texte h2{
    width: 15ch;
}
.search__bar{
    display: flex;
    height: 50px;
}
.search__bar__input{
    border:none;
    border-radius: 0.4rem 0 0 0.4rem;
    padding-left: 1rem;
    padding-right: 10rem;
}
.search__bar button{
    border: none;
    background-color: white;
    border-radius: 0 0.4rem 0.4rem 0;
}
.search__bar__glass{
    padding-right: 1rem;
}

.contenair img{
    margin-right: var(--marginRight);
    margin-top: 10em;
    margin-left: 7em;
    animation: car 250ms;
}
@keyframes car{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
    }
}

/*PresentationPage*/

.presentationPage{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.presentationPage__containt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentationPage img{
   width: 40%;
   object-fit: cover;
}
.presentationPage__texte h2{
    margin-bottom: 0;
    text-align: center;
}
.presentationPage__texte p{
    width: 56ch;
    text-align: end;
}

.planLocation{
    margin-top: 4em;
    display: flex;
}
.planLocation__1{
   display: flex;
   flex-direction:column;
   align-items: center;
   width: 15em;
}

.planLocation__btn{
    margin-top: 7em;
    margin-bottom: 7em;
    width: 10em;
}
.test{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5em ;
    margin-bottom: 3em;
}
.separationLine{
    border: 2px solid var(--mainColor);
    margin-bottom: 0.4em;
    border-radius: var(--borderRadius) ;
}
.little{
    width: 30%;
}
.medium{
    width: 35%;
}
.big{
    width: 40%;
}

/*Choose Page*/

.choose__txt{
    margin-left: 3rem;
    width: 50%;
}

.choose__contenair{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-left: 11em;
    margin-right: 11em;
}
.choose__contenair img{
    width: 45%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.choose__card{
    margin-bottom: 2em;
}

.choose__card__title{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.choose__card__title i{
    background-color: var(--thirdColor);
    border-radius: var(--borderRadius);
    padding: 0.3em;
}
.choose__card p{
    margin-left: 1.5em;
    margin-top: 0em;
}